img {
    max-width: 100%;
}

#home {
    height: 100vh;
    width: 100vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 0.0125vw;
    max-width: 100vw;
    margin-inline: auto;

}

#intro {
    padding: 100px 0px;
}

#intro-text {
    grid-column-start: 3;
    grid-column-end: 12;
}

#intro-img {
    grid-column-start: 14;
    grid-column-end: 22;
    max-width: 100%;
}

.intro-text-des {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 40px;
}

.intro-text-heading {
    font-size: 64px;
    font-weight: 600;
    line-height: 90px;
    padding-bottom: 40px;
}

.intro-text-link {
    font-size: 20px;
    line-height: 30px;
    color: #FA8F21;
}

#logo {
    margin-inline: auto;
}

.logo-item {
    grid-column-start: 3;
    grid-column-end: 22;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-width: 2px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 60px 0px;
    place-items: center;
}

#skill {
    padding: 180px 0px;
    text-align: center;
}

.skill-item {
    grid-column-start: 3;
    grid-column-end: 22;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skill-img {
    max-width: 60%;
    padding-bottom: 24px;
}

.skill-text {
    font-size: 27px;
    line-height: 42px;
}

#work a {
    text-decoration: none;
    color: #2D2D2D;
}

.work-heading {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    padding: 36px 0px 60px 0px;
}

.work-item-box {
    grid-column-start: 3;
    grid-column-end: 22;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 60px;
}

.work-item-img {
    width: 100%;
    padding-bottom: 25px;
}

.work-item-heading {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}

.work-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.feed-heading {
    font-size: 32px;
    line-height: 33px;
    text-align: center;
    padding: 200px 0px 55px 0px;
}

.feed-box {
    grid-column-start: 3;
    grid-column-end: 22;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
    margin-bottom: 120px;
}

.feed-item {
    border: 1.5px solid #FFD285;
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin-inline: auto;
    background: #FFFCF5;
}

.feed-item-text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 80px;
}

.feed-item-sub-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: start;
}

.feed-item-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.feed-item-sub {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    font-style: italic;
}


#footer {
    border-width: 2px 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 70px 0px 70px;
    grid-column-start: 3;
    grid-column-end: 22;
    display: grid;
    grid-template-columns: repeat(19, 1fr);

}


#footer .logo-item {
    border-width: 0px 0px;
    grid-column-start: 1;
    grid-column-end: 24;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 48px 0px;
    place-items: center;

}

#footer .logo-item img {
    height: 80%;
}

.footer-item {
    grid-column-start: 1;
    grid-column-end: 7;
}

.footer-form {
    grid-column-start: 11;
    grid-column-end: 19;
}

.footer-item-sub {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 40px;
}

.footer-item-heading {
    font-size: 32px;
    line-height: 42px;
}

.footer-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px
}

.form-field {
    width: 100%;
    background: #F3F3F3;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    border: none;
    padding: 21px 30px;
}

.form-button {
    padding: 25px 82px;
    border: none;
    background: #2D2D2D;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

@media only screen and (max-width: 600px) {

    .logo p {
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
    }

    #nav-menu {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100vw;
        margin-inline: auto;
    }

    #intro {
        display: flex;
        flex-direction: column;
    }

    #intro-text {
        text-align: center;
    }

    .intro-text-heading {
        font-size: 48px;
        line-height: 90px;
        padding-bottom: 0px;
    }

    .intro-text-link {
        display: none;
    }

    #ntro-text {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #intro-img {
        max-width: 80%;
        margin-inline: auto;
    }

    .logo-item {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
    }

    .skill-item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 125px;
    }

    .work-item-img-box img {
        transform: rotate(90deg);
    }

    .work-heading {
        padding: 0px;
    }

    .work-item-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }

    .feed-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 120px;
        padding: 0px 30px;
        row-gap: 60px;
    }

    #footer {
        display: flex;
        flex-direction: column;
        padding: 70px 30px;
    }

    #footer .logo-item {
        place-items: start;
    }

    #footer .logo-item img {
        height: 60%;
    }

}