.detail-heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    padding: 40px 0px 16px;
}

.cs-sub-text {
    display: flex;
    justify-content: center;
    place-items: center;
    margin-inline: auto;
    text-decoration: none;
}

.cs-sub-img {
    padding: 0px 0px 20px 10px;
}

.belive-sub-text {
    display: flex;
    flex-direction: column;
}

.detail-sub-heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 16px;
    color: #2d2d2d;
}

.detail-img {
    width: 100%;
}

.detail-img>img {
    width: 100%;
}

.detail-letter {
    grid-column-start: 5;
    grid-column-end: 20;
    padding: 120px 0px 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
}

.detail-item {
    padding: 96px 0px;
}

.detail-item-box {
    grid-column-start: 3;
    grid-column-end: 9;
}

.detail-item-box-r {
    grid-column-start: 16;
    grid-column-end: 22;
}

.detail-item-heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 36px;
}

.detail-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.detail-item-img {
    grid-column-start: 12;
    grid-column-end: 21;
    width: 100%;
}

.detail-item-img-r {
    grid-column-start: 3;
    grid-column-end: 14;
    width: 100%;
}

.detail-item-card {
    grid-column-start: 3;
    grid-column-end: 22;
    padding: 96px 0px;
}

.belive-box01 {
    place-items: center;
}

.belive-box01-img01 {
    grid-column-start: 3;
    grid-column-end: 9;
    padding-bottom: 24px;
}

.belive-box01-img01 img {
    min-width: 100%;
}

.belive-box01-img02 {
    grid-column-start: 11;
    grid-column-end: 16;
}

.belive-box01-img02 img {
    min-width: 100%;
}

.belive-box01-text {
    grid-column-start: 17;
    grid-column-end: 22;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.belive-box01-heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 26px;
    padding-bottom: 24px;
}

.belive-box01-subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.belive-box02 {
    padding: 100px 0px;
    flex-direction: column;
}

.belive-box02-text {
    grid-column-start: 3;
    grid-column-end: 24;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.belive-box02-img {
    grid-column-start: 3;
    grid-column-end: 22;
    width: 100%;
}

.belive-box02-img>img {
    width: 100%;
}

.GDPB-img {
    grid-column-start: 3;
    grid-column-end: 22;
    padding: 96px 0px;
}

.GDPB-box-img {
    grid-column-start: 3;
    grid-column-end: 22;
    padding: 96px 0px;
    display: grid;
    grid-template-areas:
        "a a b c c "
        "e d d c c";
    grid-template-rows: 260px 324px;
    gap: 16px;
}

.GDPB-box {
    overflow: hidden;
    display: grid;
    place-content: center;
}

.GDPB-box img {
    object-fit: cover;
    max-width: 100%;
}

.GDPB-box01 {
    grid-area: a;
}

.GDPB-box02 {
    grid-area: b;
}

.GDPB-box03 {
    grid-area: c;
}

.GDPB-box04 {
    grid-area: e;
}

.GDPB-box05 {
    grid-area: d;
}

.GGB-img {
    padding: 96px 0px;
}

.gigabeat-img {
    gap: 24px;
    padding: 96px 0px;
}

.gigabeat-01 {
    grid-column-start: 3;
    grid-column-end: 10;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
}

.gigabeat-02 {
    grid-column-start: 10;
    grid-column-end: 22;
    display: flex;
    place-items: center;
}

.bag-but-better-box-01 {
    padding-top: 80px;
    padding-bottom: 100px;
}

.impactofe {
    width: 70% !important;
    grid-column-start: 8 !important;
    grid-column-end: 22 !important;
}

.impactofe-text {
    font-weight: 400 !important;
    font-size: 16px ;

}


@media only screen and (max-width: 600px) {
    .detail-letter {
        padding: 120px 30px;
    }

    .detail-item-box {
        grid-column-start: none;
        grid-column-end: none;
        padding: 0px 30px;
    }

    .detail-item-img {
        grid-column-start: none;
        grid-column-end: none;
        width: 100%;
    }

    .belive-box01-img01 {
        grid-column-start: none;
        grid-column-end: none;
        width: 100%;
    }

    .belive-box01-img02 {
        grid-column-start: none;
        grid-column-end: none;
        width: 100%;
    }

    .belive-box01-text {
        grid-column-start: none;
        grid-column-end: none;
        padding: 30px;
    }

    .belive-box02-text {
        grid-column-start: none;
        grid-column-end: none;
    }

    .belive-box02-img {
        grid-column-start: none;
        grid-column-end: none;
        width: 100%;
    }

    .gigabeat-img {
        gap: 0px;
    }

    .gigabeat-01 {
        grid-column-start: none;
        grid-column-end: none;
    }

    .gigabeat-02 {
        grid-column-start: none;
        grid-column-end: none;
    }
}
