.worklife {
    padding: 24px 0px;
}

.wlb-box02 img {
    min-height: 100%;
}

.wlb-box01 img {
    min-height: 100%;
}

.wlb-heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 24px;
}

.wlb-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
}

.wlb-box01 {
    padding: 94px 0px;
}

.wlb-box01-img01 {
    grid-column-start: 3;
    grid-column-end: 9;
}

.wlb-box01-img02 {
    grid-column-start: 11;
    grid-column-end: 22;
}

.wlb-box02 {
    padding: 94px 0px;
}

.wlb-box02-img01 {
    grid-column-start: 3;
    grid-column-end: 15;
}

.wlb-box02-img02 {
    grid-column-start: 17;
    grid-column-end: 22;
}

.wlb-box-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-top: 24px;
}

.about-img {
    padding: 24px 0px 100px;
}

.worklist-box {
    padding: 96px 0px;
}

.worklist-box-text {
    grid-column-start: 3;
    grid-column-end: 13;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.worklist-box-img {
    grid-column-start: 3;
    grid-column-end: 22;
    width: 100%;
}

.worklist-img {
    grid-column-start: 3;
    grid-column-end: 22;
    padding: 96px 0px;
}

@media only screen and (max-width: 600px) {
    .wlb-box02-img01 {
        grid-column-start: none;
        grid-column-end: none;
    }

    .wlb-box02-img02 {
        grid-column-start: none;
        grid-column-end: none;
    }

    .wlb-box01-img01 {
        grid-column-start: none;
        grid-column-end: none;
    }

    .wlb-box01-img02 {
        grid-column-start: none;
        grid-column-end: none;
    }

    .worklife {
        padding: 24px 30px;
    }
}